<div class="form-left-col">
	<label>id:</label>
	<input id="productId" name="id" type="text" value="<%= id %>" disabled />

	<label>Product name:</label>
	<input id="name" name="name" type="text" value="<%= name %>" required />

	<label>Product type:</label>
	<input id="type" name="type" type="text" value="<%= type %>" required />

	<label>Product price:</label>
	<input id="price" name="price" type="text" value="<%= price %>" required />

	<button class="save">Save</button>
	<button class="delete">Delete</button>
</div>